h5 {
  margin-top: 1em;
}

.schedule-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
  color: #4a4a4a;
  font-size: 1.5em;
  font-weight: 700;
  ion-icon {
    font-size: 1.5em;
  }
}

.schedule-content {
  padding-left: 10%;
  margin-top: 1em;
  margin-bottom: 2em;
  .content-msg {
    padding: 1em;
    border-radius: 10px 0 0 10px;

    .msg {
      color: #4a4a4a;
    }

    .time {
      margin-top: 1em;
      color: #9b9b9b;
    }
  }
}

.calendar {
  position: absolute;
  right: 1em;
  top: 1.5em;

  ion-icon {
    font-size: 1.5em;
  }
}
