<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'schedule' | translate}}
    </ion-title>
    <ion-buttons slot="end" class="title-right">
      <ion-icon name="add-outline" (click)="onScheduleAdd()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="schedule-title">
    <div></div>
    2020年2月
   
  </div> -->

  <div class="calendar-detial">
    <div class="small-calendar">
      <ion-calendar [(ngModel)]="date" [options]="options" format="YYYY-MM-DD" (change)="onChange($event)">
      </ion-calendar>
    </div>

    <div class="more-icon" (click)="onShowMore()" (swipeup)="onShowMore()" (swipedown)="onShowMore()">
      <div></div>
    </div>
  </div>

  <div class="schedule-content" (click)="onScheduleDetial(detial.id)" *ngFor="let detial of msgData">
    <div class="content-msg" style="background-color: #CFECFF;">
      <p class="msg">{{detial.remindContent}}</p>
      <p class="time">
        {{detial.remindStartTime | date:'yyyy-MM-dd HH:mm'}} - {{detial.remindEndTime | date:'yyyy-MM-dd HH:mm'}}
      </p>
    </div>
  </div>
</ion-content>
