<ion-content>
  <div class="schedule-title">
    <div></div>
    2020年2月
    <ion-icon name="calendar-outline"></ion-icon>
  </div>

  <div class="content" (click)="onScheduleDetial()">
    <div class="content-msg" style="background-color: #CFECFF;">
      <p class="msg">Project A team meeting</p>
      <p class="time">11:30AM - 12:30 AM</p>
    </div>
  </div>

  <div class="content" (click)="onScheduleDetial()">
    <div class="content-msg" style="background-color: #FDF1DB;">
      <p class="msg">即将到港付款</p>
      <p class="time">11:30AM - 12:30 AM</p>
    </div>
  </div>

  <div class="content" (click)="onScheduleDetial()">
    <div class="content-msg" style="background-color: #DAF6F4;">
      <p class="msg">OESZGS1909230009需要补料</p>
      <p class="time">11:30AM - 12:30 AM</p>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="onScheduleAdd()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
