<ion-tabs>
  <ion-tab-bar class="myTabBar" slot="bottom" (ionTabBarChanged)="tabsChange($event)">
    <ion-tab-button tab="home">
      <div>
        <i *ngIf="currentTab != 'home'" class="tab-my-icon" class="home"></i>
        <i *ngIf="currentTab == 'home'" class="tab-my-icon" class="homeSelected"></i>
        <ion-label class="tab-my-label font-10">{{ 'Home' | translate}}</ion-label>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="schedule">
      <div>
        <i *ngIf="currentTab != 'schedule'" class="tab-my-icon" class="schedule"></i>
        <i *ngIf="currentTab == 'schedule'" class="tab-my-icon" class="scheduleSelected"></i>
        <ion-label class="tab-my-label font-10">{{ 'Calendar' | translate}}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="workbench">
      <div>
        <i *ngIf="currentTab != 'workbench'" class="tab-my-icon" class="workbench"></i>
        <i *ngIf="currentTab == 'workbench'" class="tab-my-icon" class="workbenchSelected"></i>
        <ion-label class="tab-my-label font-10">{{ 'Work' | translate}}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <div>
        <i *ngIf="currentTab != 'contacts'" class="tab-my-icon" class="contacts"></i>
        <i *ngIf="currentTab == 'contacts'" class="tab-my-icon" class="contactsSelected"></i>
        <ion-label class="tab-my-label font-10">{{ 'Contacts' | translate}}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <div>
        <i *ngIf="currentTab != 'me'" class="tab-my-icon" class="me"></i>
        <i *ngIf="currentTab == 'me'" class="tab-my-icon" class="meSelected"></i>
        <ion-label class="tab-my-label font-10">{{ 'Me' | translate}}</ion-label>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
  <!-- <ion-tab-button tab="home" class="myTabBar center-tab">
    <i class="tab-my-icon home"></i>
  </ion-tab-button> -->
</ion-tabs>
