ion-tab-button{
    img{
        width: 1.5em;
        height: 1.5em;
        margin-bottom: 0.25em;
    }
}

.home-tab{
    position: absolute;
    bottom: 2em;
    z-index: 99999999;
    left: 0;
    right: 0;
    display: inline-block;
    margin: 0 auto;
    width: 7em;
    img{
        height: auto;
       width: 6em;
    }
}