<ion-tabs>
  <ion-tab-bar class="myTabBar" slot="bottom" (ionTabBarChanged)="tabsChange($event)">
    <ion-tab-button tab="schedule">
      <img *ngIf="currentTab != 'schedule'" src="assets/icon/schedule/icon_rili@3x.png" />
      <img *ngIf="currentTab == 'schedule'" src="assets/icon/schedule/icon_rili_selected@3x.png" />
      <ion-label>{{ 'Schedule' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workbench">
      <img *ngIf="currentTab != 'workbench'" src="assets/icon/workbench/icon_workbench@3x.png" />
      <img *ngIf="currentTab == 'workbench'" src="assets/icon/workbench/icon_workbench_selected@3x.png" />
      <ion-label>{{ 'Workbench' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <img src="assets/icon/home/icon_home@3x.png" style="opacity: 0;"/>
      <ion-label>{{ 'Home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <img *ngIf="currentTab != 'contacts'" src="assets/icon/contacts/icon_contacts@3x.png" />
      <img *ngIf="currentTab == 'contacts'" src="assets/icon/contacts/icon_contacts_selected@3x.png" />
      <ion-label>{{ 'Contacts' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <img *ngIf="currentTab != 'me'" src="assets//icon/me/icon_me@3x.png" />
      <img *ngIf="currentTab == 'me'" src="assets/icon/me/icon_me_selected@3x.png" />
      <ion-label>{{ 'Me' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <div class="home-tab">
    <ion-tab-button tab="home">
      <img src="assets/icon/home/icon_home@3x.png" class="homeIcon"/>
    </ion-tab-button>
  </div>
</ion-tabs>
