<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="goback()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>
    <ion-title>{{isC2C?"个人信息":"群聊信息"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="member-group">
    <label for="">Members</label>
    <div (click)="addMember()" class="add-members">
      <i></i>
      <span>Add member</span>
    </div>
    <div class="member-wrap" *ngFor="let item of membersList">
      <img
        (click)="gotoUserProfile(item.userID)"
        [src]="item.avatar?item.avatar:'../../../../../../assets/icon/avatar-2.png'"
        alt="头像"
      />
      <div>
        <span class="member-name">{{item.nick?item.nick:item.userID}}</span>
        <span class="member-type">{{item.positionName?item.positionName:"角色未设置"}}</span>
      </div>
    </div>
  </section>

  <section class="setting-group">
    <label for="">Settings</label>
    <div (click)="searchConversation()">
      <i class="search"></i>
      <span>Search in conversation</span>
      <i class="right-arrow"></i>
    </div>
    <div *ngIf="!isC2C && canEditGroupName" (click)="editGroupName()">
      <i class="change-group-name"></i>
      <span>Change group name </span>
      <i class="right-arrow"></i>
    </div>
    <div (click)="changeWallpaper()">
      <i class="change-wallpaper"></i>
      <span>Change wallpaper</span>
      <i class="right-arrow"></i>
    </div>
    <div *ngIf="!isC2C" (click)="quitGroupModal()">
      <i class="exit-group"></i>
      <span>退出群聊</span>
    </div>
  </section>
</ion-content>
