<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" (click)="goback()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>

    <ion-title>{{groupName}}</ion-title>

    <ion-buttons slot="end">
      <ion-icon
        *ngIf="!isC2C"
        name="people"
        (click)="gotoGroup()"
        style="font-size: 1.5em;margin-right: 0.5em;"
      ></ion-icon>
      <ion-icon  [name]="!isC2C?'ellipsis-vertical':'person'" (click)="chooseMoreType($event)" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="getCardShow()" class="type-wrap">
    <app-business-type
      (click)="gotoDetail()"
      [title]="{title1:bussinessDetail.shipmentNo, title2: this.bussinessDetail.soNo}"
      [status]="statusType[bussinessDetail.status]"
    ></app-business-type>
  </div>
  <section [ngClass]="{'chat-content-wrap-margin': getCardShow()}" class="chat-content-wrap">
    <ng-container *ngFor="let item of chatList">
      <div *ngIf="!!item.isTimeShow" class="message-show-time">{{getImChatTime(item.time)}}</div>
      <ion-card *ngIf="!item.isTimeShow" [class]="'card-' + item.flow +'-group'">
        <img
          *ngIf="item.flow=='out'"
          (click)="gotoUserProfile(item.from)"
          [class]="'anchor-' + item.flow"
          class="head-anchor"
          [src]="item.fromAccountImageUrl?item.fromAccountImageUrl:'../../../../../assets/icon/avatar-2.png'"
        />
        <img
          *ngIf="item.flow=='in'"
          (click)="gotoUserProfile(item.from)"
          [class]="'anchor-' + item.flow"
          class="head-anchor"
          [src]="item.fromAccountImageUrl?item.fromAccountImageUrl:'../../../../../assets/icon/avatar-2.png'"
        />
        <ion-card-content>
          <span *ngIf="item?.type === 'TIMCustomElem'" [innerHTML]="item.msgBody[0].msgContent.Ext"></span>
          <span *ngIf="item?.type === 'TIMTextElem'" [innerHTML]="item.payload.text"></span>
          <div *ngIf="item?.type === 'TIMImageElem'">
            <ion-img-viewer
              scheme="dark"
              [src]="getImgUrl(item.msgBody[0].msgContent.ImageInfoArray[0].URL)"
            >
            </ion-img-viewer>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </section>
</ion-content>

<ion-footer id="keyboard-flex">
  <div *ngIf="!isDisbanded" class="foot-wrap">
    <i class="yuyin"></i>
    <input
      type="text"
      [(ngModel)]="sendingMessage"
      (click)="showTools = false"
      placeholder="Type a message"
      name=""
      id="inputElement"
    />
    <i *ngIf="!sendingMessage && !showTools" (click)="showTools = true" class="change"></i>
    <i *ngIf="!sendingMessage && showTools" (click)="showTools = false" class="qiehuan"></i>
    <i *ngIf="sendingMessage" (click)="send()" class="send"></i>
  </div>
  <div class="hide-tools" *ngIf="showTools">
    <div (click)="imgUpload()">
      <i class="camera"></i>
      <span>拍照</span>
    </div>
    <div (click)="imageUpload()">
      <i class="photo"></i>
      <span>照片</span>
    </div>
    <div>
      <i class="business-card"></i>
      <span>个人名片</span>
    </div>
  </div>
</ion-footer>
