@import "../../../theme/variables";

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: px2rem(100px);

    .no-data {
        @include bg-image("../../../assets/icon/NO-DATA");
        width: px2rem(160px);
        height: px2rem(160px);
    }

    span {
        font-size: 18px;
        font-family: Helvetica;
        margin-top: px2rem(30px);
        color: var(--ion-color-primary);
    }
}