<ion-header>
  <ion-toolbar>
    <div>
      <i (click)="goback()" class="go-back"></i>
      <h5 class="font-18">Rates</h5>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" mode = "md" [value]="AdditionalData?.freightCharges?.containerCode">
    <ion-segment-button  [value]="item" *ngFor="let item of ratesDetail?.boxType">
      <ion-label>{{item}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <section>
    <div class="content-wrap">
      <span class="title">FREIGHT CHARGES/运费</span>
      <div>
        <span>Ocean Freight/海运费</span>
        <span>{{ AdditionalData.freightCharges.currencyName }} {{ AdditionalData.freightCharges?.rate }}</span>
      </div>
      <div>
        <span>Quantity/数量</span>
        <span>×1 {{ AdditionalData.freightCharges?.containerCode }}</span>
      </div>
      <div>
        <span>总额</span>
        <span>{{ AdditionalData.freightCharges.currencyName }} {{ AdditionalData.freightCharges?.rate }}</span>
      </div>
    </div>

    <div class="content-wrap">
      <span class="title">ORIGIN CHARGES/起运港费用</span>
      <ng-container *ngFor="let data of AdditionalData.originLocalUnitCharges">
        <div>
          <span>{{ data?.chargesName }}</span>
          <span>{{ data?.currencyName }} {{ data?.rate }}</span>
        </div>
        <div>
          <span>Quantity/数量</span>
          <span>×1 {{ data?.containerCode }}</span>
        </div>
        <div>
          <span>总额</span>
          <span>{{ data?.currencyName }} {{ data?.rate }}</span>
        </div>
      </ng-container>
    </div>

    <div class="content-wrap">
      <span class="title">DESTINATION CHARGES/目的港费用</span>
      <ng-container *ngFor="let data of AdditionalData.deliveryLocalUnitCharges">
        <div>
          <span>{{ data?.chargesName }}</span>
          <span>{{ data?.currencyName }} {{ data?.rate }}</span>
        </div>
        <div>
          <span>Quantity/数量</span>
          <span>×1 {{ data?.containerCode }}</span>
        </div>
        <div>
          <span>总额</span>
          <span>{{ data?.currencyName }} {{ data?.rate }}</span>
        </div>
      </ng-container>
    </div>

    <div class="content-wrap">
      <div class="last-content">
        <span>总额</span>
        <span>{{getAllRate()}}</span>
      </div>
      <div>
        <span>Expiry date/有效期</span>
        <span>{{getTime(ratesDetail.toDate)}}</span>
      </div>
    </div>
  </section>
  <img (click)="chatWithCustomer()" src="../../../../../../assets/icon/workbench/rates/icon_kefu@3x.png" alt="" >
</ion-content>
