<ion-header>
  <ion-toolbar>
    <div>
      <i (click)="goback()" class="go-back"></i>
      <span class="font-18">详细信息</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="bg-wrap">
      <img [src]="userProfile[0].avatar?userProfile[0].avatar:'../../../../../../assets/icon/avatar-2.png'" alt="头像" srcset="">
    </div>
    <div class="text-wrap">
      <span class="font-18 name">{{userProfile[0].nick}}</span>
      <span class="font-15 role">{{userProfile[0].role?userProfile[0].role:'角色未设置'}}</span>
      <div class="change-remarks-wrap">
        <span class="remarks font-15">备注和描述</span>
        <!-- <i *ngIf="myUserId == userId" (click)= "changeRemarks()" class="change-remarks"></i> -->
      </div>
      <span class="description font-14">{{userProfile[0].selfSignature?userProfile[0].selfSignature:'暂未填写描述'}}</span>
    </div>

  </section>
</ion-content>

<ion-footer *ngIf="!isSelf" id='keyboard-flex'>
  <div (click)="sendMessage()" class="foot-wrap font-16">
    发消息
  </div>
</ion-footer>