<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'About Us' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login_img">
    <img src="assets/images/Logo.png" />
  </div>

  <div id="progressnum"></div>

  <div class="login-bottom">
    <div (click)="initData()" class="update" *ngIf="!isIos">
      {{'Check Update' | translate}}
    </div>
    <p>
      {{version}}
    </p>

    <p *ngIf="!isIos">Copyright © 2018 CITYOCEAN. All Rights Reserved.</p>
  </div>
</ion-content>
