.login_img {
    margin: 2rem 0;
    text-align: center;
  }
  
  .login-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .login-bottom p {
    font-size: 0.8em;
    text-align: center;
    margin: 0.5rem 0;
    color: var(--ion-color-dark);
  }
  
  .update {
    margin: 1em auto;
    text-align: center;
    font-size: 18px;
    color: #e55354;
    font-weight: 800;
  }
  
  #progressnum {
    font-size: 18px;
    color: #e55354;
    text-align: center;
  }
  