@import '../../../../theme//variables.scss';

ion-content {
  section.logo-group {
    margin: 4em 0 0 4em;
    display: flex;
    flex-direction: column;

    .logo-wrap {
      display: inline-block;
      width: 6em;
      height: 6em;
      @include bg-image("../../../../assets/images/Logo");
    }

    .logo-text {
      font-family: $font-PingFangSC;
      color: #F2F2F9;
      @include font-dpr(36px);
      margin-top: 0.5em;
      display: inline-block;
      font-size: 3em;
    }
  }

  section.bottom-wrap {
    padding: 0 1.5em;
    margin-top: 4em;

    form.input-group {

      .email-wrap,
      .password-wrap {
        display: flex;
        flex-direction: column;
        position: relative;

        .alert-error {
          @include font-dpr(9px);
          color: $aligned-color;
          margin-top: 0.25em;
        }

        ion-label {
          color: $medium-color;
          font-family: $font-PingFangSC;
          display: inline-block;
          height: 2em;
          @include font-dpr(9px);
        }

        input {
          border: 0;
          padding: 0;
          padding-bottom: 0.1em;
          border-bottom: 0.1em solid opacityLinghtColor(0.4);
          height:2em;

          &::-webkit-input-placeholder {
            color: $linght-color;
            font-family: PingFangSC-Regular;
            @include font-dpr(16px);
          }

          &:focus {
            outline: none;
            border: 0;
            border-bottom: 0.1em solid opacityLinghtColor(0.4);
          }
        }

        input.input-invalid {
          border-bottom: 0.1em solid $aligned-color;
        }

        input.input-success-border {
          border-bottom: 0.1em solid $sucess-color;
        }

        input.input-writing {
          border-bottom: 0.1em solid $primary-color;
        }

        .input-success {
          position: absolute;
          right: 0.75em;
          bottom: 0.75em;
          display: inline-block;
          width: 1em;
          height: 1em;
          @include bg-image("../../../../assets/images/login/Icon-Checkmark");
        }
      }

      .password-wrap {
        margin-top: 2em;
        position: relative;

        .pwicon {
          position: absolute;
          right: 0.75em;
          bottom: 0.5em;
        }

        .showpwicon {
          display: inline-block;
          width: 1em;
          height: 1em;
          @include bg-image("../../../../assets/images/login/Icon-Right");
        }

        .notpwicon {
          display: inline-block;
          width: 1em;
          height: 1em;
          @include bg-image("../../../../assets/images/login/Icon-Hide");
        }
      }
    }

    .button-group {
      margin-top: 2em;
      position: relative;

      &>div {
        height: 4em;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.75em ;
      }

      @at-root .login-other {
        display: inline-block;
        @include font-dpr(9px);
        margin: 1.5em 0 1.5em 0em;
        color: $linght-color;
      }

      .login-group {
        background: linear-gradient(135deg, rgba(75, 161, 255, 1) 0%, rgba(0, 122, 255, 1) 100%);
        box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.09);

        span {
          font-family: PingFangSC-Regular;
          color: $extralight-color;
        }

        i {
          width: 1em;
          height: 1em;
          @include bg-image("../../../../assets/images/login/Icon-Login");
        }
      }

      .wechat-group {
        background-color: $extralight-color;

        span {
          font-family: $font-PingFangSC;
          color: $dark-color;
        }

        i {
          width: 1em;
          height: 1em;
          @include bg-image("../../../../assets/images/login/icon-wechat");
        }

      }

      .facebook-group {
        margin-bottom: 1em;
        background-color: $extralight-color;
        font-family: $font-PingFangSC;
        color: $dark-color;

        i {
          width: 1em;
          height: 1em;
          @include bg-image("../../../../assets/images/login/Logo-Facebook");
        }
      }
    }
  }

}