<ion-content>
  <div
    style="height: 10em;
  background: linear-gradient(#cce0f5, #ffffff);"
  ></div>
  <div (click)="handleButtonClick($event)" class="sign-up">
    <ion-icon name="signup"></ion-icon>
    <span>{{ 'Sign Up' | translate }}</span>
  </div>
  <section class="logo-group">
    <i class="logo-wrap"></i>
    <span class="logo-text font-36">{{ 'Login in' | translate }}</span>
  </section>
  <section class="bottom-wrap">
    <form [formGroup]="validateForm" autocomplete="off" class="input-group">
      <div class="email-wrap">
        <ion-label class="font-9" color="primary">{{ 'Email Address' | translate }}</ion-label>
        <input
          (keyup)="onUsernameKeyup($event)"
          [ngClass]="{
            'input-invalid': username.invalid && (username.dirty || username.touched),
            'input-success-border': !username.invalid && (username.dirty || username.touched)
          }"
          formControlName="username"
          type="text"
          [placeholder]="pleaseEnter"
          autocomplete="username"
        />
        <i *ngIf="!username.invalid && (username.dirty || username.touched)" class="input-success"></i>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-error font-9">
          <div *ngIf="username.errors.required">
            {{ 'Please Enter Email Address' | translate }}
          </div>
          <div *ngIf="username.errors.pattern">
            {{ 'Check your mail address again' | translate }}
          </div>
        </div>
      </div>
      <div class="password-wrap">
        <ion-label color="primary">{{ 'Password' | translate }}</ion-label>
        <input
          id="passwordElement"
          autocomplete="new-password"
          formControlName="password"
          (click)="$event.stopPropagation()"
          type="{{ !pwshow ? 'password' : 'text' }}"
          [ngClass]="{
            'input-invalid': password.invalid && (password.dirty || password.touched),
            'input-success-border': !password.invalid && (password.dirty || password.touched),
            'input-writing': focusPassword
          }"
          [placeholder]="pleaseEnter"
        />
        <i
          *ngIf="focusPassword"
          class="pwicon"
          [ngClass]="{ showpwicon: !pwshow, notpwicon: pwshow }"
          (click)="controlPwshow($event)"
        ></i>
        <i
          *ngIf="!password.invalid && (password.dirty || password.touched) && !focusPassword"
          class="input-success"
        ></i>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-error font-9">
          <div *ngIf="password.errors.required">
            {{ 'Please Enter Password' | translate }}
          </div>
        </div>
      </div>
    </form>
    <section class="button-group">
      <div (click)="onLogin()" class="login-group">
        <span>{{ 'Login in' | translate }}</span>
        <i></i>
      </div>
      <span (click)="loginWithTourist()" class="login-other font-9">{{ 'Visitor Mode' | translate }}</span>
      <!-- <div class="facebook-group">
        <span>{{ 'Facebook' | translate }}</span>
        <i></i>
      </div>
      <div class="wechat-group">
        <span>{{ 'Wechat' | translate }}</span>
        <i></i>
      </div> -->
    </section>
  </section>
</ion-content>
