<ion-header>
  <section class="search-group clearfix">
    <div class="search-box">
      <div>
        <input type="text" />
        <i class="search-icon"></i>
      </div>
      <i class="customer-service"></i>
    </div>
    <div (swipeup)="swipeup()" (swipedown)="swipedown()" class="tools-group">
      <div (click)="toolType(item)" *ngFor="let item of toolsList">
        <i [class]="item.name"></i>
        <span class="font-14">{{item.title}}</span>
      </div>
    </div>
  </section>
  <div *ngIf="transportationCost" class="control-search-detail">
    <div></div>
  </div>
  <div *ngIf="transportationCost" class="search-detail">
    <div class="qiyungang">
      <i></i>
      <input (click)="searchLocaltion('start')" [(ngModel)]="orignPort.name" type="text" placeholder="请输入起运港" />
    </div>
    <div class="search-line"></div>
    <div class="mudigang">
      <i></i>
      <input type="text" (click)="searchLocaltion('destination')" [(ngModel)]="deliveryPort.name" placeholder="请输入目的港" />
    </div>
    <button (click)="go4search()" class="search-yunjia font-12">{{searchType | translate}}</button>
  </div>
  <div *ngIf="transportationCost" class="division"></div>
</ion-header>

<ion-content fullscreen [ngClass]="{'content-background': !transportationCost}">
  <ion-list>
    <section class="content-group">
      <app-message-rolling></app-message-rolling>
      
      <div class="massge-group-wrap" [ngClass]="{'massge-group-marigin-top': !transportationCost}">
        <ion-item-sliding *ngFor="let msg of groupMassageList; let i = index" #slide>
          <ion-item lines="none" class="app-massage-wrap" (click)="gotoChat(msg)">
            <app-massage [detail]="msg"></app-massage>
          </ion-item>
          <ion-item-options>
            <i class="delete-icon" *ngIf="!showDeleteButton" (click)="showDeleteButton = true"></i>
            <i class="confirm-delete-icon" *ngIf="showDeleteButton" (click)="deleteItem(i,msg,slide)"></i>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </section>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>