<ion-header>
  <ion-toolbar>
    <div>
      <i (click)="dismissModal()" class="go-back"></i>
      <h5 class="font-18">筛选</h5>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <section>
    <div>
      <ion-select
        name="orignPortCy"
        [interfaceOptions]="{ header: '选择码头/门点', cssClass: 'ion-select-my-class' }"
        interface="action-sheet"
        placeholder="Select One"
        [value]="profileForm.orignPortCy"
        (ionChange)="orignPortCyChange($event)"
      >
        <ion-select-option value="CY">CY</ion-select-option>
        <ion-select-option value="DOOR">DOOR</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div>
    <div>
      <input placeholder="Enter Origin Port" [(ngModel)] = "profileForm.originPortSearchText" (click)="showPopover($event,'originPortSearchText')" (ngModelChange) = "ngModelChange('originPortSearchText')" type="text">
    </div>
    <div *ngIf="profileForm.orignPortCy === 'DOOR'">
      <input placeholder="Enter Origin Location" [(ngModel)] = "profileForm.originLocatonSearchText" (click)="showPopover($event,'originLocatonSearchText')" (ngModelChange) = "ngModelChange('originLocatonSearchText')" type="text">
    </div>
    <!-- <div *ngIf="profileForm.orignPortCy === 'DOOR'">
      <ion-select
        name="orignPortLocal"
        [interfaceOptions]="{ header: '选择提货地址', cssClass: 'ion-select-my-class' }"
        interface="action-sheet"
        placeholder="Select One"
        [value]="profileForm.orignPortLocal"
        (ionChange)="orignPortLocalChange($event)"
      >
        <ion-select-option value="1">baoan disrict ,shenshenzhen ,China</ion-select-option>
        <ion-select-option value="2">yantian disrict ,shenshenzhen ,China</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div> -->
    <div>
      <ion-select
        name="deliveryPortCy"
        [interfaceOptions]="{ header: '选择码头/门点', cssClass: 'ion-select-my-class' }"
        interface="action-sheet"
        placeholder="Select One"
        [value]="profileForm.deliveryPortCy"
        (ionChange)="deliveryPortCyChange($event)"
      >
        <ion-select-option value="CY">CY</ion-select-option>
        <ion-select-option value="DOOR">DOOR</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div>
    <div>
      <input placeholder="Enter Delivery Port" [(ngModel)] = "profileForm.deliveryPortSearchText" (click)="showPopover($event,'deliveryPortSearchText')" (ngModelChange) = "ngModelChange('deliveryPortSearchText')" type="text">
    </div>
    <div *ngIf="profileForm.deliveryPortCy === 'DOOR'">
      <input placeholder="Enter Destination Location" [(ngModel)] = "profileForm.destinationLocationSearchText" (click)="showPopover($event,'destinationLocationSearchText')" (ngModelChange) = "ngModelChange('destinationLocationSearchText')" type="text">
    </div>
    <!-- <div *ngIf="profileForm.deliveryPortCy === 'DOOR'">
      <ion-select
        name="deliveryPortLocal"
        [interfaceOptions]="{ header: '选择送货货地址', cssClass: 'ion-select-my-class' }"
        interface="action-sheet"
        placeholder="Select One"
        [value]="profileForm.deliveryPortLocal"
        (ionChange)="deliveryPortLocalChange($event)"
      >
        <ion-select-option value="1">baoan disrict ,shenshenzhen ,China</ion-select-option>
        <ion-select-option value="2">yantian disrict ,shenshenzhen ,China</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div> -->
    <div>
      <ion-select
        name="carrierId"
        [interfaceOptions]="{ header: '选择船公司', cssClass: 'ion-select-my-class' }"
        interface="action-sheet"
        placeholder="Select One"
        [value]="profileForm.carrierId"
        (ionChange)="shipCompanyChange($event)"
      >
        <ion-select-option value="all">全部船东</ion-select-option>
        <ion-select-option [value]="item.id" *ngFor="let item of carrierList">{{
          item.shortName
        }}</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div>
    <div>
      <ion-select
        name="ratesValidDays"
        [interfaceOptions]="{ header: '选择天数', cssClass: 'ion-select-my-class' }"
        interface="action-sheet"
        placeholder="Select One"
        [value]="profileForm.ratesValidDays"
        (ionChange)="dateChange($event)"
      >
        <ion-select-option value="7">7days</ion-select-option>
        <ion-select-option value="15">15days</ion-select-option>
        <ion-select-option value="30">30days</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div>
  </section>
  <ion-button (click)="confirm()" expand="block">确认</ion-button>
</ion-content>
