<section>
  <ion-icon (click)="dismissModal()" name="shanchu"></ion-icon>
  <h5>Bank Account</h5>
  <p class="name">CITY OCEAN LOGISTICS CO., LIMITED</p>
  <div>
    <span>HKD:</span>
    <span>004-557-531845-001</span>
  </div>
  <div class="usd">
    <span>USD:</span>
    <span>004-557-531845-001</span>
  </div>
  <div class="code">
    <span>SWIFT CODE:</span>
    <span>HSBC HKHH HKH</span>
  </div>
  <p class="detail"> <ion-icon name="biaoqian"></ion-icon>THE HONGKONG AND SHANGHAI BANKING CORPORATION LIMITED SHATIN CENTRE OFFICE</p>
  <p class="detail"><ion-icon name="biaoqian"></ion-icon>>SHOPS 38-46, CITYLINK PLAZA SHA TIN STATION CIRCUIT, SHA TIN, NEW TERRITORY, HONG KONG</p>
  <button>Copy</button>
</section>
