<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Cancel' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Schedule Add' | translate}}
    </ion-title>
    <ion-buttons slot="end" class="title-right">
      {{'Save' | translate}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <div class="colorblue"></div>
    <ion-input placeholder="Enter Scheedule Title"></ion-input>
  </div>

  <div class="time">
    <ion-icon name="time-outline"></ion-icon>
    <div>
      <strong>Start Time</strong>
      <strong>2月11日 周二</strong>
      <strong>7：30</strong>
    </div>
  </div>

  <div class="time">
    <ion-icon name="time-outline" style="opacity: 0;"></ion-icon>
    <div>
      <strong>End Time</strong>
      <strong>2月11日 周二</strong>
      <strong>7：30</strong>
    </div>
  </div>

  <div class="time">
    <ion-icon name="alarm-outline"></ion-icon>
    <div style="justify-content:start;">
      <strong>15分钟前</strong>
    </div>
  </div>

  <div class="time">
    <ion-icon name="person-outline"></ion-icon>
    <div style="justify-content:start;">
      <strong>提醒人员</strong>
    </div>
  </div>

  <div class="title">
    <ion-icon name="reader-outline"></ion-icon>
    <ion-input placeholder="Add Remark"></ion-input>
  </div>
</ion-content>
