<div class="content-wrap">
  <div class="content-group no-group-wrap">
    <div class="no-group">
      <i
        [ngClass]="{'ship-icon': bookingListItem.freightMethodType ==1,'air-icon': bookingListItem.freightMethodType ==2}"
        class="ship-icon"
      ></i>
      <div>
        <span *ngIf="bookingListItem.name">{{bookingListItem.name}}</span>
        <span>1221424254353</span>
      </div>
    </div>
    <div class="status">{{statusType[bookingListItem.status]}}</div>
  </div>
  <div class="Shipper content-group line-class">
    <div>
      <div class="flag"></div>
      <span>Shipper</span>
    </div>
    <span class="address-name">{{bookingListItem.shipperAddress?.tenantName}}</span>
  </div>
  <div class="Consignee content-group line-class">
    <div>
      <div class="flag"></div>
      <span>Consignee</span>
    </div>
    <span>{{bookingListItem.consigneeAddress?.tenantName}}</span>
  </div>
  <div  class="Cargo content-group">
    <div>
      <span>Cargo ready date</span>
    </div>
    <span>{{getTime(bookingListItem.cargoReadyDate)}}</span>
  </div>
  <div  class="Cargo content-group">
    <div>
      <span>Cargo details</span>
    </div>
    <span>{{bookingListItem.weight}} {{bookingListItem.weightUnitString}} <span>{{bookingListItem.volume}} {{bookingListItem.volumeUnitString}}</span></span>
  </div>
</div>