<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="cityOcean"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      [placeholder]="'Search' | translate"
      mode="ios"
      [(ngModel)]="searchText"
      (ionChange)="resetFilter()"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-icon name="ellipsis-vertical" (click)="billingFilter()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-billing-list-panel
      [billingListItem]="item"
      (click)="gotoBillingDetail(item)"
      *ngFor="let item of billingList; let i=index"
    ></app-billing-list-panel>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getBillingList({},$event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
