<ion-header>
  <ion-toolbar>
    <div>
      <div class="left-content">
        <i (click)="goback()" class="go-back"></i>
        <i class="search-icon"></i>
        <input type="text" placeholder="搜索" />
      </div>
      <i (click)="billingFilter()" class="filter"></i>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-billing-list-panel [billingListItem] = "item" (click)="gotoBillingDetail(item)" *ngFor="let item of billingList; let i=index"></app-billing-list-panel>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getBillingList({},$event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
