<ion-header>
  <ion-toolbar>
    <div>
      <div class="left-content">
        <i (click)="goback()" class="go-back"></i>
        <i (click)="filterConfirm(null)" class="search-icon"></i>
        <input
          [(ngModel)]="searchKey"
          (keyup)="($event.which === 13) ? filterConfirm(null) : 0"
          type="text"
          placeholder="搜索"
        />
      </div>
      <ion-icon name="shanchu" class="filter"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <p>{{"shipment" | translate}}</p>
    <app-shipment-list-panel
      [shipmentListItem]="item"
      (click)="gotoShipmentDetail(item)"
      *ngFor="let item of shipmentData?.items; let i=index"
    ></app-shipment-list-panel>
  </section>
  <section>
    <p>{{"billing" | translate}}</p>
    <app-billing-list-panel
    [billingListItem]="item"
    (click)="gotoBillingDetail(item)"
    *ngFor="let item of billingData?.items; let i=index"
  ></app-billing-list-panel>
  </section>
</ion-content>
