<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="goback()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>

    <ion-title>Rates</ion-title>

    <ion-buttons slot="end" class="title-right">
      <i (click)="ratesFilter($event)" class="filter"></i>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-rates-list-panel [rateListItem] = "item" (click)="gotoRatesDetail(item)" *ngFor="let item of ratesList"></app-rates-list-panel>
  </section>
</ion-content>
