<ion-header>
  <ion-toolbar>
    <div>
      <i (click)="goback()" class="go-back"></i>
      <h5 class="font-18">Rates</h5>
      <i (click)="ratesFilter($event)" class="filter"></i>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="content-wrap" (click)="gotoRatesDetail(item)" *ngFor="let item of ratesList">
      <div class="first-content">
        <div class="money-wrap">
          <!-- <i></i> -->
          <img [src]="item?.carrierLogo" />
          <div>
            <span class="font-12">$</span>
            <span *ngIf="item?.chargesGroups" class="font-22">{{item?.chargesGroups[0]?.freightCharges?.rate}}</span>
          </div>
        </div>
        <div class="location-wrap">
          <div class="start">
            <div class="flag"></div>
            <span>装运港</span>
            <span>{{item?.oceanBaseItem?.polName}}</span>
          </div>
          <div class="line"></div>
          <div class="end">
            <div class="flag"></div>
            <span>目的港</span>
            <span>{{item?.oceanBaseItem?.podName}}</span>
          </div>
        </div>
      </div>
      <div class="time-wrap">
        <div class="date-wrap">
          <span>Expiry date</span>
          <span>{{getTime(item?.fromDate)}}</span>
        </div>
        <div class="tt-wrap">
          <span>TT</span>
          <span>{{getTT(item)}} days</span>
        </div>
        <div class="chat-bg"></div>
      </div>
    </div>
  </section>
</ion-content>
