@import '../../../../../theme/variables';

.filter {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  @include bg-image('../../../../../assets/icon/workbench/shaixuan');
}

ion-header {
  ion-toolbar {
    background: linear-gradient(110deg, rgba(97, 173, 255, 1) 0%, rgba(0, 122, 255, 1) 100%);
    --ion-toolbar-color: #fff;
  }
}

ion-content {
  section {
    padding: px2rem(8px) px2rem(8px) 0;
  }
}
