<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-back-button text="" defaultHref="cityOcean"></ion-back-button>
    </ion-buttons>

    <ion-title>Rates</ion-title>

    <ion-buttons slot="end" class="title-right">
      <ion-icon name="ellipsis-vertical" (click)="ratesFilter($event)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-rates-list-panel [rateListItem] = "item" (click)="gotoRatesDetail(item)" *ngFor="let item of ratesList"></app-rates-list-panel>
  </section>
</ion-content>
