[data-dpr="1"] .number-text, [data-dpr="1"] .global{
    font-size: 12px;
}
[data-dpr="2"] .number-text, [data-dpr="2"] .global{
    font-size: 24px;
}
[data-dpr="3"] .number-text, [data-dpr="3"] .global{
    font-size: 36px;
}