<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="dismissModal()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>
    <ion-title>{{"Filter" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section>
    <div>
      <span *ngIf="processCopy.length ==0">{{"shipmentStatus" | translate}}</span>

      <ion-select
        name="process"
        [interfaceOptions]="processInterfaceOptions"
        multiple="true"
        cancelText="Cancel"
        okText="OK"
        placeholder=""
        (ionChange)="processChange($event)"
        [value]="profileForm.process"
      >
        <ion-select-option
          (click)="processOptionClick(item.value)"
          *ngFor="let item of processOptionList"
          [value]="item.value"
          >{{ item.name }}</ion-select-option
        >
      </ion-select>
      <div class="my-icon"></div>
    </div>
    <div *ngIf="processCopy.length" class="showMulti">
      <span>{{ processShowName }}</span
      ><span *ngIf="processCopy.length > 1">多选</span>
    </div>
    <div>
      <span *ngIf="modeCopy.length ==0">{{"Freight Method Type" | translate}}</span>

      <ion-select
        name="mode"
        [interfaceOptions]="modeInterfaceOptions"
        multiple="true"
        placeholder=""
        cancelText="Cancel"
        okText="OK"
        [value]="profileForm.mode"
        (ionChange)="modeChange($event)"
      >
        <ion-select-option selected value="all">{{ 'Select all' | translate }}</ion-select-option>
        <ion-select-option value="air">{{ 'Air' | translate }}</ion-select-option>
        <ion-select-option value="LCL">{{ 'Ocean LCL' | translate }}</ion-select-option>
        <ion-select-option value="FCL">{{ 'Ocean FCL' | translate }}</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div>
    <div *ngIf="modeCopy.length" class="showMulti">
      <span>{{ modeShowName }}</span
      ><span *ngIf="modeCopy.length > 1">多选</span>
    </div>
    <div>
      <span *ngIf="!profileForm.date">{{"Sort By" | translate}}</span>

      <ion-select
        name="date"
        cancelText="Cancel"
        okText="OK"
        [interfaceOptions]="dateInterfaceOptions"
        placeholder=""
        [value]="profileForm.date"
        (ionChange)="dateChange($event)"
      >
        <ion-select-option value="deliveryDate">{{ 'Delivery Date' | translate }}</ion-select-option>
        <ion-select-option value="mostRecentEvent">{{ 'Most Recent Event' | translate }}</ion-select-option>
        <ion-select-option value="cargoReadyDate">{{ 'Cargo Ready Date' | translate }}</ion-select-option>
        <ion-select-option value="creationTime">{{ 'Time of Creation' | translate }}</ion-select-option>
      </ion-select>
      <div class="my-icon"></div>
    </div>
  </section>
  <ion-button (click)="confirm()" expand="block">{{"Confirm" | translate}}</ion-button>
</ion-content>
