<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="goback()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>

    <ion-title>{{"Booking Details" | translate}}</ion-title>

    <ion-buttons slot="end" class="title-right">
      <ion-icon name="people" (click)="chatWithCustomer()" style="font-size: 1.5em;margin-right: 0.5em;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="type-wrap">
    <app-business-type
      [title]="{title1:bookingDetail.bookingNo}"
      [status]="statusType[bookingDetail.status]"
    ></app-business-type>
  </div>
  <section class="request-wrap">
    <p *ngIf="bookingDetail.status==1">Cancel request is submitted</p>
    <p *ngIf="bookingDetail.status==2">Booking request is submitting</p>
    <p *ngIf="bookingDetail.status==3">Shipping order is done</p>
    <p *ngIf="bookingDetail.status==4">Freight quotes is needed by City Ocean</p>
    <p *ngIf="bookingDetail.status==5">Quote is waiting for comfirm by the customer</p>
    <p *ngIf="bookingDetail.status==6">Quote is waiting for comfirm by the customer</p>
    <p *ngIf="bookingDetail.status==7">shipping order is cancelled</p>
    <div
      *ngFor="let process of requestProcess"
      [ngClass]="{ 'not-check-bg': !process.checked,'check-bg':process.checked}"
    >
      <i class="checked-flag"></i>
      <span>{{process.name}}</span>
    </div>
  </section>
  <section class="content-wrap base-wrap">
    <div class="detail-wrap">
      <label class="title">Basic</label>
      <p>
        <span>Cargo Ready day</span>
        <span>{{getTime(bookingDetail.cargoReadyDate)}}</span>
      </p>
      <p>
        <span>Incoterms</span>
        <span>{{bookingDetail.incotermsString}}</span>
      </p>
      <p *ngIf="getContainerType(bookingDetail)">
        <span>Container Type</span>
        <span>{{getContainerType(bookingDetail)}}</span>
      </p>
      <div *ngIf="baseShow">
        <ng-container *ngIf="bookingDetail?.quantity>0">
          <label class="title">Cargo</label>
          <p>
            <span>Quantity</span>
            <span>{{bookingDetail?.quantity}}{{bookingDetail?.quantityUnitString}}</span>
          </p>
          <p>
            <span>Total Weight</span>
            <span>{{bookingDetail?.weight}}{{bookingDetail?.weightUnitString}}</span>
          </p>
          <p>
            <span>Total Volume</span>
            <span>{{bookingDetail?.volume}}{{bookingDetail?.volumeUnitString}}</span>
          </p>
        </ng-container>
        <ng-container *ngIf="bookingDetail?.isContainsSpecialGoods">
          <label class="title">Specifics</label>
          <label class="title">Description Of Products</label>
          <p>
            <span>PLASTIC STORAGE BOX PLASTIC STORAGE BOX</span>
          </p>
          <label class="title">Special goods</label>
          <p>
            <span>{{getSpecialGoodsName(bookingDetail?.containsSpecialGoodsTypes)}}</span>
          </p>
          <label class="title">Special Instructions</label>
          <p>
            <span>{{bookingDetail?.specialInstructions}}</span>
          </p>
        </ng-container>
      </div>
    </div>
    <div (click)="baseShow = !baseShow" class="control-group">
      <i class="arrow-bg" [ngClass]="{'baseShow': baseShow,'baseNotShow': !baseShow}"></i>
    </div>
  </section>
  <section class="content-wrap message-wrap">
    <div class="detail-wrap">
      <label class="title">{{"Route Details" | translate}}</label>
      <label class="route-title">{{"Origin" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail.shipperAddress?.streetAddress}}</span>
      </p>

      <label class="left-dashed-line route-title">{{"POL" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail?.originPort?.name}}</span>
      </p>

      <label class="left-dashed-line route-title">{{"POD" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail?.destinationPort?.name}}</span>
      </p>

      <label class="left-dashed-line route-title">{{"Destination" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail?.consigneeAddress?.streetAddress}}</span>
      </p>
    </div>
  </section>
</ion-content>
