<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="goback()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>

    <ion-title>{{"Booking Details" | translate}}</ion-title>

    <ion-buttons slot="end" class="title-right">
      <ion-icon *ngIf="!isfromChat" name="chatbubble-ellipses" (click)="chatWithCustomer()" style="font-size: 1.5em;margin-right: 0.5em;margin-right: 0.5em;"></ion-icon>
      <ion-icon  name="ellipsis-vertical" (click)="showRelatedBusinessPopover($event)" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="type-wrap">
    <app-business-type
      [title]="{title1:bookingDetail.bookingNo}"
      [status]="statusType[bookingDetail.status]"
    ></app-business-type>
  </div>
  <section class="request-wrap">
    <p *ngIf="bookingDetail.status==0">{{"Draft" | translate}}</p>
    <p *ngIf="bookingDetail.status==1">{{"Waiting for Confirm" | translate}}</p>
    <p *ngIf="bookingDetail.status==2">{{"Submitted" | translate}}</p>
    <p *ngIf="bookingDetail.status==3">{{"Booked" | translate}}</p>
    <p *ngIf="bookingDetail.status==4">{{"Waiting for Pricing" | translate}}</p>
    <p *ngIf="bookingDetail.status==5">{{"Waiting for Buyer" | translate}}</p>
    <p *ngIf="bookingDetail.status==6">{{"Waiting for Seller" | translate}}</p>
    <p *ngIf="bookingDetail.status==7">{{"Cancelled" | translate}}</p>
    <p *ngIf="bookingDetail.status==8">{{"Shipping Cancelled" | translate}}</p>
    <p *ngIf="bookingDetail.status==9">{{"Price Confirmed By Customer" | translate}}</p>
    <p *ngIf="bookingDetail.status==10">{{"Shipping order is requested with the carrier." | translate}}</p>
    <p *ngIf="bookingDetail.status==11">{{"Notified SO successfully with the customer." | translate}}</p>

    <div
      *ngFor="let process of requestProcess"
      [ngClass]="{ 'not-check-bg': !process.checked,'check-bg':process.checked}"
    >
      <i class="checked-flag"></i>
      <span>{{process.name | translate}}</span>
    </div>
  </section>
  <section class="content-wrap base-wrap">
    <div class="detail-wrap">
      <label class="title">{{"Basic" | translate}}</label>
      <p>
        <span>{{"Cargo Ready Date" | translate}}</span>
        <span>{{getTime(bookingDetail.cargoReadyDate)}}</span>
      </p>
      <p>
        <span>{{"Incotermse" | translate}}</span>
        <span>{{bookingDetail.incotermsString}}</span>
      </p>
      <p *ngIf="getContainerType(bookingDetail)">
        <span>{{"Container Type" | translate}}</span>
        <span>{{getContainerType(bookingDetail)}}</span>
      </p>
      <div *ngIf="baseShow">
        <ng-container *ngIf="bookingDetail?.quantity>0">
          <label class="title">{{"Cargo" | translate}}</label>
          <p>
            <span>{{"Quantity" | translate}}</span>
            <span>{{bookingDetail?.quantity}}{{bookingDetail?.quantityUnitString}}</span>
          </p>
          <p>
            <span>{{"Total Weight" | translate}}</span>
            <span>{{bookingDetail?.weight}}{{bookingDetail?.weightUnitString}}</span>
          </p>
          <p>
            <span>{{"Total Volume" | translate}}</span>
            <span>{{bookingDetail?.volume}}{{bookingDetail?.volumeUnitString}}</span>
          </p>
        </ng-container>
        <ng-container *ngIf="bookingDetail?.isContainsSpecialGoods">
          <label class="title">{{"Specifics" | translate}}</label>
          <label class="title">{{"Description Of Products" | translate}}</label>
          <p>
            <span>{{bookingDetail?.description}}</span>
          </p>
          <label class="title">{{"Special goods" | translate}}</label>
          <p>
            <span>{{getSpecialGoodsName(bookingDetail?.containsSpecialGoodsTypes)}}</span>
          </p>
          <label class="title">{{"Special Instructions" | translate}}</label>
          <p>
            <span>{{bookingDetail?.specialInstructions}}</span>
          </p>
        </ng-container>
      </div>
    </div>
    <div (click)="baseShow = !baseShow" class="control-group">
      <i class="arrow-bg" [ngClass]="{'baseShow': baseShow,'baseNotShow': !baseShow}"></i>
    </div>
  </section>
  <section class="content-wrap message-wrap">
    <div class="detail-wrap">
      <label class="title">{{"Route Details" | translate}}</label>
      <label class="route-title">{{"Origin" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail.shipperAddress?.streetAddress}}</span>
      </p>

      <label class="left-dashed-line route-title">{{"POL" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail?.originPort?.name}}</span>
      </p>

      <label class="left-dashed-line route-title">{{"POD" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail?.destinationPort?.name}}</span>
      </p>

      <label class="left-dashed-line route-title">{{"Destination" | translate}}</label>
      <p class="unarrival-location">
        <span>{{bookingDetail?.consigneeAddress?.streetAddress}}</span>
      </p>
    </div>
  </section>
</ion-content>
