<ion-header mode="ios">
  <ion-toolbar>
    <div>
      <div class="left-content">
        <i (click)="goback()" class="go-back"></i>
        <i class="search-icon" (click)="resetFilter()"></i>
        <input
          [(ngModel)]="searchText"
          (keyup)="($event.which === 13) ? resetFilter() : 0"
          type="search"
          name="searh"
          [placeholder]="'Search' | translate"
        />
      </div>
      <i *ngIf="!isLoginWithTourist" (click)="shipmentFilter($event)" class="filter"></i>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-shipment-list-panel
      [shipmentListItem]="item"
      (click)="gotoShipmentDetail(item)"
      *ngFor="let item of shipmentsList; let i=index"
    ></app-shipment-list-panel>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getShipmentList($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
