<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="cityOcean"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      [placeholder]="'Search' | translate"
      mode="ios"
      [(ngModel)]="searchText"
      (keyup)="($event.which === 13) ? resetFilter() : 0"
      (ionChange)="resetFilter()"
    ></ion-searchbar>
    <ion-buttons *ngIf="!isLoginWithTourist" slot="end">
      <ion-icon name="funnel" (click)="shipmentFilter($event)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section>
    <app-shipment-list-panel
      [shipmentListItem]="item"
      (click)="gotoShipmentDetail(item)"
      *ngFor="let item of shipmentsList; let i=index"
    ></app-shipment-list-panel>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getShipmentList($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
