<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Schedule Detial' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="orderName">
    关联订单：ODESZGS19092300
  </div>

  <div class="scheduleMsg">
    <div class="tips"></div>
    <strong>
      需要提供补料
    </strong>
  </div>

  <div class="time">
    <ion-icon name="time-outline"></ion-icon>
    <div>
      <strong>Start Time</strong>
      <strong>2月11日 周二</strong>
      <strong>7：30</strong>
    </div>
  </div>

  <div class="time">
    <ion-icon name="time-outline" style="opacity: 0;"></ion-icon>
    <div>
      <strong>End Time</strong>
      <strong>2月11日 周二</strong>
      <strong>7：30</strong>
    </div>
  </div>

  <div class="time">
    <ion-icon name="alarm-outline"></ion-icon>
    <div style="justify-content:start;">
      <strong>15分钟前</strong>
    </div>
  </div>

  <div class="time">
    <ion-icon name="person-outline"></ion-icon>
    <div style="justify-content:start;">
      <strong>提醒人员</strong>
    </div>
  </div>
</ion-content>
