<ion-header>
  <ion-toolbar>
    <ion-title>
      2020年2月
    </ion-title>
    <ion-buttons slot="end" class="title-right">
      <ion-icon name="calendar-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item detail tappable (click)="onDetial()">
      <ion-label>
        <h2><strong>今天 2月11日 周二</strong></h2>
        <h5>主题设置</h5>
      </ion-label>
    </ion-item>

    <ion-item detail tappable (click)="onDetial()">
      <ion-label>主题设置</ion-label>
    </ion-item>

    <ion-item detail tappable (click)="onDetial()">
      <ion-label>主题设置</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
