<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="goback()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>

    <ion-title>{{routeDetail?.shipmentNo}}</ion-title>

    <ion-buttons slot="end" class="title-right">
      <ion-icon name="people" (click)="chatWithCustomer()" style="font-size: 1.5em;margin-right: 0.5em;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="mapShow" class="map-wrap">
    <share-amap height="520" [icons]="icons" [lines]="lines" [dashedLines]="dashedLines"></share-amap>
  </section>
  <section [ngClass]="{'top-class': mapShow}" class="content-wrap base-wrap">
    <div (swipeup)="swipeup()" (click)="toggle()" (swipedown)="swipedown()" class="control-map-show-wrap">
      <div></div>
    </div>
    <div class="type-wrap">
      <app-business-type [title]="businessTypeTitle" [status]="statusType[routeDetail.status]"></app-business-type>
    </div>
    <div class="detail-wrap">
      <label class="title">{{"Basic" | translate}}</label>
      <p>
        <span>{{"Freight Type" | translate}}</span>
        <span>{{setAgreement()}}</span>
      </p>
      <p>
        <span>{{"Incoterms" | translate}}</span>
        <span>{{basicDetail.incotermsString}}</span>
      </p>
      <p *ngIf="getContainerType(basicDetail)">
        <span>{{"Container Type" | translate}}</span>
        <span>{{getContainerType(basicDetail)}}</span>
      </p>
      <div *ngIf="baseShow">
        <label class="title">{{"Reference Numbers" | translate}}</label>
        <p>
          <span>{{"House Bill Number" | translate}}</span>
          <span>{{basicDetail?.billOfLadingNo}}</span>
        </p>
        <p>
          <span>{{"Container No" | translate}}</span>
          <span>{{basicDetail?.containerNos}}</span>
        </p>
        <ng-container *ngIf="basicDetail?.quantityString>0">
          <label class="title">{{"Cargo" | translate}}</label>
          <p>
            <span>{{"Quantity" | translate}}</span>
            <span>{{basicDetail?.quantityString}}</span>
          </p>
          <p>
            <span>{{"Total Weight" | translate}}</span>
            <span>{{basicDetail?.totalWeightString}}</span>
          </p>
          <p>
            <span>{{"Total Volume" | translate}}</span>
            <span>{{basicDetail?.totalVolumeString}}</span>
          </p>
        </ng-container>
        <ng-container *ngIf="basicDetail?.specialInstructions">
          <label class="title">{{"Specifics" | translate}}</label>
          <p>
            <span>{{"Special Instructions" | translate}}</span>
          </p>
          <p>
            <span>{{basicDetail?.specialInstructions}}</span>
          </p>
        </ng-container>
      </div>

      <div></div>
    </div>
    <div (click)="baseShow = !baseShow" class="control-group">
      <i class="arrow-bg" [ngClass]="{'baseShow': baseShow,'baseNotShow': !baseShow}"></i>
    </div>
  </section>
  <section class="content-wrap message-wrap" [ngClass]="{'margin-top-class': !mapShow}">
    <div class="detail-wrap">
      <!-- 起运地 -->
      <ng-container *ngFor="let shipperInfo of routeDetail?.routeDetails?.shipperInfos; let i=index">
        <ng-container *ngIf="originPortShow || i ===0">
          <p [id]=" isLoginWithTourist?'isLoginWithTourist-bg':''" [class]="routeDetail?.status>=3?'left-line':'left-dashed-line'">
            <span [id]=" isLoginWithTourist?'isLoginWithTourist':''">{{shipperInfo?.shipperNetWorkInfo?.name}}</span>
          </p>
          <p [class]="routeDetail?.status>=3?'arrival-location':'unarrival-location'">
            <span>{{shipperInfo.shipperNetWorkInfo?.streetAddress}}</span>
          </p>
          <p [class]="routeDetail?.status>=3?'left-line':'left-dashed-line'">
            <span>{{"Container No" | translate}}</span>
            <span>{{shipperInfo.containerNo}}</span>
          </p>
          <p [class]="routeDetail?.status>=3?'left-line':'left-dashed-line'">
            <span>{{"Cargo Ready Date" | translate}}</span>
            <span>{{getTime(shipperInfo.cargoReadyDate)}}</span>
          </p>
        </ng-container>
      </ng-container>

      <p
        (click)="originPortShow = !originPortShow"
        id="arrow-bg-wrap"
        *ngIf="routeDetail?.routeDetails?.shipperInfos.length>1"
      >
        <i class="arrow-bg" [ngClass]="{'originPortShow': originPortShow,'originPortNotShow': !originPortShow}"></i>
      </p>

      <!-- 起运港 -->
      <p [class]="routeDetail?.status>=3?'arrival-location':'unarrival-location'">
        <span>{{routeDetail?.routeDetails?.originPort?.name}}</span>
      </p>
      <p [class]="routeDetail?.status>=5?'left-line':'left-dashed-line'">
        <span>#/港口编码</span>
        <span>{{routeDetail?.routeDetails?.originPort.code}}</span>
      </p>
      <p [class]="routeDetail?.status>=5?'left-line':'left-dashed-line'">
        <span>{{"Arrived" | translate}}</span>
        <span>{{getTime(routeDetail?.routeDetails?.actualDepatureOrginPortDate)}}</span>
      </p>
      <p [id]=" isLoginWithTourist?'isLoginWithTourist-bg':''" [class]="routeDetail?.status>=5?'left-line':'left-dashed-line'">
        <span>Carrier/承运人</span>
        <span [id]=" isLoginWithTourist?'isLoginWithTourist':''"
          >{{routeDetail?.routeDetails?.carrierCustomerName}}</span
        >
      </p>
      <!-- 目的港 -->
      <p [class]="routeDetail?.status>=7?'arrival-location':'unarrival-location'">
        <span>{{routeDetail?.routeDetails?.destinationPort?.name}}</span>
      </p>
      <p [class]="routeDetail?.status>=7?'left-line':'left-dashed-line'">
        <span>#/港口编码</span>
        <span>{{routeDetail?.routeDetails?.destinationPort.code}}</span>
      </p>
      <p [class]="routeDetail?.status>=7?'left-line':'left-dashed-line'">
        <span>{{"Estimated Arrival" | translate}}</span>
        <span>{{getTime(routeDetail?.routeDetails?.actualArrivalDestinationPortDate)}}</span>
      </p>
      <p [class]="routeDetail?.status>=7?'left-line':'left-dashed-line'">
        <span>{{"Estimated Pick-Up" | translate}}</span>
        <span>{{getTime(routeDetail?.routeDetails?.actualPickUpTruckDestinationDate)}}</span>
      </p>
      <p [id]=" isLoginWithTourist?'isLoginWithTourist-bg':''" [class]="routeDetail?.status>=7?'left-line':'left-dashed-line'">
        <span>Carrier/承运人</span>
        <span [id]=" isLoginWithTourist?'isLoginWithTourist':''">{{routeDetail?.routeDetails?.truckCustomerName}}</span>
      </p>
      <!-- 目的地 -->
      <ng-container *ngFor="let consigneeInfo of routeDetail?.routeDetails?.consigneeInfos; let i=index">
        <ng-container *ngIf="consigneeShow || i ===0">
          <p [id]=" isLoginWithTourist?'isLoginWithTourist-bg':''" [class]="routeDetail?.status>=7?'left-line':'left-dashed-line'">
            <span [id]=" isLoginWithTourist?'isLoginWithTourist':''">{{consigneeInfo.consigneeNetWorkInfo?.name}}</span>
          </p>
          <p [class]="routeDetail?.status>=7?'arrival-location':'unarrival-location'">
            <span>{{consigneeInfo.consigneeNetWorkInfo?.streetAddress}}</span>
          </p>
          <p [class]="routeDetail?.status>=7?'left-line':'left-dashed-line'">
            <span>{{"Container No" | translate}}</span>
            <span>{{consigneeInfo.containerNo}}</span>
          </p>
          <p [class]="routeDetail?.status>=7?'left-line':'left-dashed-line'">
            <span>{{"Cargo Ready Date" | translate}}</span>
            <span>{{getTime(consigneeInfo.actualTruckDeliveryDate)}}</span>
          </p>
        </ng-container>
      </ng-container>

      <p
        (click)="consigneeShow = !consigneeShow"
        id="arrow-bg-wrap"
        *ngIf="routeDetail?.routeDetails?.consigneeInfos.length>1"
      >
        <i class="arrow-bg" [ngClass]="{'originPortShow': consigneeShow,'originPortNotShow': !consigneeShow}"></i>
      </p>
    </div>
  </section>
</ion-content>

<ion-footer *ngIf="isLoginWithTourist">
  <ion-button (click)="showMore()" expand="block">{{"Show more" | translate}}</ion-button>
</ion-footer>
