<ion-header mode="ios" *ngIf="isEditing">
  <ion-toolbar>
    <ion-title>
      {{'WorkBench' | translate}}
    </ion-title>
    <ion-buttons slot="end" class="title-right" (click)="isEditing = !isEditing;confirm()">
      {{'Ok' | translate}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header *ngIf="!isEditing" class="default-wrap">
    <div (click)="businessChange()" class="business-change-wrap">
      <span>{{title}}</span>
      <ion-icon name="caret-down-outline"></ion-icon>
    </div>
    <div class="message-group">
      <div *ngFor="let item of titleStatisticsList">
        <i [class]="item.type"></i>
        <p>
          <span>{{item.name}}</span>
          <span>{{item.value}}</span>
        </p>
      </div>
    </div>
  </header>

  <div class="ion-content-wrap">
    <section [ngClass]="{'default-content': !isEditing}" *ngIf="!isEditing">
      <div *ngIf="searchTransportationCost" class="search-detail">
        <div class="qiyungang">
          <i></i>
          <input
            (click)="searchLocaltion('start')"
            [(ngModel)]="orignPort.name"
            type="text"
            placeholder="{{'Port of loading' | translate}}"
          />
        </div>
        <div style="text-align: center;height: 2em;display: inline-block;margin-left: 0.45em;">
          <div style="border-left:0.1em solid #e4e4e4;height: 2em;"></div>
        </div>
        <div class="mudigang">
          <i></i>
          <input
            type="text"
            (click)="searchLocaltion('destination')"
            [(ngModel)]="deliveryPort.name"
            placeholder="{{'Port of discharge' | translate}}"
          />
        </div>
        <div style="text-align: center;">
          <button (click)="searchConfirm()" class="search-yunjia">{{searchType | translate}}</button>
        </div>
      </div>
      <div class="title">
        <span>{{'All applications' | translate}}</span>
        <button *ngIf="!isLoginWithTourist" (click)="isEditing = !isEditing">{{'Add To Home' | translate}}</button>
      </div>
      <div class="all-applications">
        <div *ngFor="let item of typeList">
          <p (click)="typeClick(item)">
            <i [class]="'icon-'+item.type"></i>
            <span>{{item.displayName | translate}}</span>
          </p>
        </div>
      </div>
    </section>
    <footer *ngIf="isEditing">
      <app-quick-enter #quickEnter [quickEnterList]="quickEnterList"></app-quick-enter>
    </footer>
  </div>
</ion-content>
