<div class="content-wrap">
  <div class="content-group no-group-wrap">
    <div class="no-group">
      <i
        [ngClass]="{ 'ship-icon': shipmentListItem?.freightMethodType == 1, 'air-icon': shipmentListItem?.freightMethodType == 2 }"
        class="ship-icon"
      ></i>
      <div>
        <span>{{ shipmentListItem?.shipmentName }}</span>
        <span>{{ shipmentListItem?.shipmentNo }}</span>
      </div>
    </div>
    <div class="status">{{ statusType[shipmentListItem?.status] }}</div>
  </div>
  <div *ngIf="shipmentListItem?.routeDetails.shipperInfos.length" class="first content-group line-class">
    <div>
      <div class="flag"></div>
      <span>{{"Origin Location" | translate}}</span>
    </div>
    <span>{{ shipmentListItem?.routeDetails.shipperInfos[0].shipperNetWorkInfo?.name }}</span>
  </div>
  <div class="start content-group line-class">
    <div>
      <div class="flag"></div>
      <span>{{"Port of Loading" | translate}}</span>
    </div>
    <span
      >{{ shipmentListItem?.routeDetails.originPort.name }}
      <div class="eta-etd">
        <span>ETD</span>
        <span>{{ getTime(shipmentListItem?.routeDetails.estDepatureOrginPortDate) }}</span>
      </div>
    </span>
  </div>
  <div class="end content-group line-class">
    <div>
      <div class="flag"></div>
      <span>{{"Port of Discharge" | translate}}</span>
    </div>
    <span
      >{{ shipmentListItem?.routeDetails.destinationPort.name }}
      <div class="eta-etd">
        <span>ETA</span>
        <span>{{ getTime(shipmentListItem?.routeDetails.estArrivalDestinationPortDate) }}</span>
      </div>
    </span>
  </div>
  <div *ngIf="shipmentListItem?.routeDetails.consigneeInfos.length" class="finally content-group line-class">
    <div>
      <div class="flag"></div>
      <span>{{"Destination Location" | translate}}</span>
    </div>
    <span>{{ shipmentListItem?.routeDetails.consigneeInfos[0].consigneeNetWorkInfo.name }}</span>
  </div>
</div>
