<ion-content>
  <div tappable class="mine-header">
    <div>
      <img src="assets/images/Logo.png" class="user" />

      <div class="min-header-msg">
        <ion-button (click)="register()" *ngIf="!userLogin" color="light">{{'Sign in' | translate}}</ion-button>
        <ion-button (click)="login()" *ngIf="!userLogin" color="danger" style="margin-left: 1em"
          >{{'Login in' | translate}}</ion-button
        >
        <ion-text *ngIf="userLogin">{{userMsg.name}} </ion-text>
        <p style="color: #fff;margin-top: 1em;opacity: 0.6;">鹏程海国际物流</p>
      </div>
    </div>
  </div>

  <ion-list lines="full" class="me-list">
    <h6 style="padding: 1em;">Account</h6>
    <ion-item detail tappable (click)="onSettingPage()">
      <ion-button slot="start" fill="clear">
        <ion-icon slot="icon-only" name="cog" color="dark"></ion-icon>
      </ion-button>
      <ion-label>{{'Setting' | translate }}</ion-label>
    </ion-item>

    <ion-item detail tappable (click)="onInvoicePage()">
      <ion-button slot="start" fill="clear">
        <ion-icon slot="icon-only" name="newspaper-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-label>{{'Invoice' | translate }}</ion-label>
    </ion-item>

    <ion-item detail tappable (click)="onWalletPage()">
      <ion-button slot="start" fill="clear">
        <ion-icon slot="icon-only" name="wallet" color="dark"></ion-icon>
      </ion-button>
      <ion-label>{{'Wallet' | translate }}</ion-label>
    </ion-item>

    <ion-item detail tappable (click)="onLogout()" *ngIf="isAndroid">
      <ion-button slot="start" fill="clear">
        <ion-icon slot="icon-only" name="log-out" color="danger"></ion-icon>
      </ion-button>
      <ion-label color="danger">{{'Exit App' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
