<ion-content>
  <div tappable class="mine-header">
    <div>
      <img src="assets/images/Logo.png" class="user" />

      <div class="min-header-msg">
        <ion-text (click)="toLogin()" *ngIf="!userLogin" color="danger" style="margin-left: 1em"
          >{{'Login in' | translate}}/{{'Sign in' | translate}}</ion-text
        >
        <ion-text *ngIf="userLogin">{{userMsg?.name}} </ion-text>
        <p style="color: #fff;margin-top: 1em;opacity: 0.6;">{{'International Logistics Of CITYOCEAN' | translate}}</p>
      </div>
    </div>
  </div>

  <ion-list lines="none" class="me-list">
    <h6 style="padding: 1em;">{{'Account' | translate}}</h6>

    <ion-item detail tappable (click)="onInvoicePage()">
      <ion-label> <img src="assets/icon/me/fapiao@3x.png" color="dark" />{{'Invoice' | translate }}</ion-label>
    </ion-item>

    <ion-item detail tappable (click)="onWalletPage()">
      <ion-label> <img src="assets/icon/me/qianbao@3x.png" color="dark" />{{'Wallet' | translate }}</ion-label>
    </ion-item>

    <ion-item detail tappable (click)="onSettingPage()">
      <ion-label> <img src="assets/icon/me/shezhi@3x.png" color="dark" />{{'Settings' | translate }}</ion-label>
    </ion-item>

    <!-- <ion-item detail tappable (click)="onLogout()" *ngIf="isAndroid">
      <ion-label color="danger">
        <img src="assets/icon/me/shezhi@3x.png" color="dark" />{{'Exit App' | translate}}</ion-label
      >
    </ion-item> -->
  </ion-list>
</ion-content>
