<div *ngIf="detail" [id]="detail?.bussinessType == 'welcome' ? 'welcome-id' : ''" class="massage-group">
  <div class="avatar-unread">
    <span class="unread-count" *ngIf="detail.unreadCount > 0">
      {{ detail.unreadCount <= 99 ? detail.unreadCount : 99 }}
    </span>
    <i
      *ngIf="!detail?.groupProfile?.avatar"
      [class]="!detail?.groupProfile?.avatar ? 'default-avatar' : ''"
      [id]="detail.bussinessType"
    ></i>
  </div>
  <img *ngIf="detail?.groupProfile?.avatar" [src]="detail?.groupProfile?.avatar" class="image-element" />
  <div [ngClass]="{ 'welcome-container': detail?.bussinessType == 'welcome' }" class="text-group">
    <div *ngIf="detail" class="number-wrap">
      <div>
        <span [ngClass]="{ 'welcome-title': detail?.bussinessType == 'welcome' }" class="number-text">{{
          detail.bussinessType === 'C2C'
            ? detail.userProfile.nick
              ? detail.userProfile.nick
              : detail.name
            : detail.name
        }}</span>
        <span *ngIf="showLabel()" [ngClass]="{ lables: true }" [class]="'lable-' + detail?.bussinessType">{{
          detail?.bussinessType
        }}</span>
      </div>

      <span class="time">{{ getImtime(detail?.lastMessage?.lastTime) }}</span>
    </div>
    <p
      *ngIf="detail?.bussinessType != 'welcome'"
      class="state"
      [innerHtml]="justText(detail.lastMessage.messageForShow)"
    ></p>
    <span
      [ngClass]="{ 'welcome-span': detail?.bussinessType == 'welcome' }"
      class="description"
      [innerHtml]="justText(detail.lastMessage.messageForShow)"
    ></span>
  </div>
</div>
