<div *ngIf="detail" class="massage-group">
  <i *ngIf="!detail?.groupProfile?.avatar" class="massage-avatar" [class]="detail.type"></i>
  <img *ngIf="detail?.groupProfile?.avatar" [src]="detail?.groupProfile?.avatar" class="image-element" />
  <div class="text-group">
    <div *ngIf="detail" class="number-wrap">
      <div>
        <span class="number-text font-10">{{ detail.name }}</span>
        <span
          *ngIf="detail?.type && detail?.type != 'im'"
          [ngClass]="{ 'lables': true,'font-10':true}"
          [class]="'lable-' + detail?.type"
          >{{ detail?.type }}</span>
      </div>
      
      <span class="time font-12">{{ detail.lastMessage.lastTime }}</span>
    </div>
    <p class="state font-14"  [innerHtml] ="detail.lastMessage.messageForShow"></p>
    <span class="description font-10" [innerHtml] ="detail.lastMessage.messageForShow"></span>
  </div>
</div>
