<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'Contacts' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" mode="ios">
    <ion-item *ngFor="let detial of list" lines="none">
      <ion-avatar slot="start">
        <img src="/assets/images/Logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ detial.name }}({{ detial.surname }})</h2>
        <p>{{ detial.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
