<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="cityOcean"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      [placeholder]="'Search' | translate"
      mode="ios"
      [(ngModel)]="searchKey"
      (keyup)="($event.which === 13) ? filterConfirm(null) : 0"
      (ionChange)="filterConfirm(null)"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-icon name="funnel" (click)="bookingFilter()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-booking-list-panel
      [bookingListItem]="item"
      (click)="gotoBookingDetail(item)"
      *ngFor="let item of bookingList; let i=index"
    ></app-booking-list-panel>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getBookingList($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
