<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="goback()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>

    <ion-title>船期</ion-title>

    <ion-buttons slot="end" class="title-right">
      <ion-icon name="ellipsis-vertical" (click)="sailingFilter($event)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-sailing-schedules-list-panel
      [sailingSchedulesListItem]="item"
      (click)="gotoSailingDetail(item)"
      *ngFor="let item of sailingList; let i=index"
    ></app-sailing-schedules-list-panel>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getSailingList(null,$event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-button (click)="chatWithCustomer()" expand="block">询价</ion-button>
</ion-footer>
