@import '../../../../../theme/variables';

ion-header {
  ion-toolbar {
    background: linear-gradient(110deg, rgba(97, 173, 255, 1) 0%, rgba(0, 122, 255, 1) 100%);
    --ion-toolbar-color: #fff;
  }
}

ion-content {
  section {
    padding: px2rem(16px) px2rem(8px);
  }
}
ion-footer {
  ion-button {
    --background: linear-gradient(135deg, #61adff 0%, #007aff 100%);
    --border-radius: 0;
    margin: 0;
  }
}
