<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-left">
      <ion-icon name="chevron-back-outline" (click)="dismissModal()" style="font-size: 1.5em;"></ion-icon>
    </ion-buttons>

    <ion-title>选择联系人</ion-title>

    <ion-buttons slot="end" class="title-right" (click)="save()">
      Save
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section>
    <div class="add-member-wrap">
      <span class="add-member-text">Add members</span>
      <i></i>
    </div>
    <div class="member-wrap" *ngFor="let item of membersList">
      <div
        (click)="item['checked'] = !item['checked']"
        [ngClass]="{ 'not-check-bg': !item.checked, 'check-bg': item.checked }"
      ></div>
      <img [src]="item.avatar ? item.avatar : '../../../../../../assets/icon/avatar-2.png'" alt="头像" />
      <div class="role-wrap">
        <span class="member-name">{{ item.surname ? item.surname + ' ' : '' }}{{ item.name ? item.name : '' }}</span>
        <span class="member-type">{{ item.position ? item.position : '角色未设置' }}</span>
      </div>
    </div>
  </section>
</ion-content>
